<footer>
    TI USU 2012
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(function () {
       
        $('input[name=file]').change(function (event) {
            
            if(event.target.files){
                $('#process').prop("disabled", false);
                $('#PathError').hide()
            }
            
            if (event.target.files[0].type != 'text/csv') {
                $('#PathError').show()
                $('#process').prop("disabled", true);
            }
            
        });
        
        $('#process').click(function (e) {
            $('#img').show();
        });

        $('input[name=year]').keypress(function(e){
            $('input[name=year]').keyup(function(ev){
                console.log(ev.target.value.length)
                if(ev.target.value.length>0){
                    $('#process_p').prop("disabled", false);
                }else{
                     $('#process_p').prop("disabled", true);
                }

            })
        })

        
        $('.single-item').slick({
            dots: true,
            autoplay:true,
            autoplaySpeed:2000,
            infinite:true,
            arrows:true,
            prevArrow:'<button class="slick-prev slick-arrow"><</button>',
            nexArrow:'<button class="slick-next slick-arrow">></button>'
            }
        );

        $('.single-item-predict').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
            arrows: true,
            prevArrow: '<button class="slick-prev slick-arrow"><</button>',
            nexArrow: '<button class="slick-next slick-arrow">></button>'
        }
        );

    });
</script>
</body>

</html>