<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv='cache-control' content='no-cache'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Forecast-V1</title>
</head>

<body>
    <div class="bg-image" id="img">
        <img src="../static/images/loading.gif" class="loading"/>
        <p>Processing..</p>
    </div>
    <header>

        <div class="text-left">
            <a href="/" style="text-decoration: none;color:black">
            <img src="../static/images/usu.png" />
            <h3>Program Skripsi</h3>
            </a>
        </div>
        
        <div class="text-right">
            <img src="../static/images/sumut.png" />
        </div>
    </header>